.npheader{
text-align: center;
font-size: 40px;
color: black;
text-shadow: -1px 0 #47e1ec, 0 1px rgb(172, 104, 235), 1px 0 rgb(172, 104, 235), 0 -1px #47e1ec;


}


.form{
    width: 500px;
    text-align: center;
    margin: auto;
    font-family: cursive;
    font-size: 35px;
    font-weight: 300;
    text-shadow: -1px 0 #47e1ec, 0 1px rgb(172, 104, 235), 1px 0 rgb(172, 104, 235), 0 -1px #47e1ec;
}


.submitButton{
height:60px;
width:250px;
}

