.header{
    text-align: center;
    color:#aa7ae9;
    /* color:#aa7ae9; */
    font-size: 100px;
    font-family: cursive;
    /* height:200px; */
    background-color: white;
    margin: 10px;
    /* border-style: outset;
    border-color: #aa7ae9;
    border-radius: 10px; */
   
}

