.header{
    text-align: center;
    color:#47e1ec;
    text-shadow: 5px 5px black;
    font-size: 100px;
    font-family: cursive;
    background-color: white;
    margin: 10px;
    text-shadow: -1px 0 rgb(172, 104, 235), 0 1px rgb(172, 104, 235), 1px 0 rgb(172, 104, 235), 0 -1px rgb(172, 104, 235);

}    

.navBar{
    font-size: 30px;
}
    

